@import url("https://use.typekit.net/vws3qcu.css");
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}

body {
  justify-content: center;
  display: flex;
  background-color: #1a1a1c;
  color: #fff;
  overflow-y: hidden;
}

#game_wrapper {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 20px;
  border: 1px solid #1450c1;
  width: 95vw;
  height: 90vh;
  margin: 2.5%;
  box-shadow: 0 0 30px #1450c1;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(343deg, #34a3f4 15%, rgba(96, 81, 233, 0.697) 100%);
}
#game_wrapper ._effect {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

#box {
  width: 93%;
  height: 85%;
  background-size: cover;
  padding: 3%;
  padding-bottom: 0%;
}

#ti {
  width: 92%;
  height: 5%;
  padding: 2%;
  margin: 2%;
  letter-spacing: 0.1em;
  font-size: 180%;
  text-align: center;
  box-shadow: 10px 10px 10px #111;
}

#question {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% auto;
  font-weight: 700;
}

#test_status {
  padding-left: 4%;
}

#game {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#q,
#end {
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 2.5vw;
  font-size: 4vw;
  line-height: 110%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: bilo, sans-serif;
  font-weight: 700;
}
#q h1,
#end h1 {
  font-size: 7vw;
  padding: 2vw;
}
#q h3,
#end h3 {
  text-shadow: 0 0 30px #fff;
}
#q h1._title, #end h1._title {
  color: #69e5d7;
  animation: pulse 4s infinite;
  border: 0;
  margin: 2%;
}

/*#end h1._title {
  animation: pulse 4s infinite, title 4s infinite;
  text-shadow: 0 0 30px #20b7a5;
  border: 0;
}*/
#q ._icon img,
#end ._icon img {
  max-width: 90px;
  margin: 6vw auto 0 auto;
  padding: 0.25em;
  animation: pulse 1s infinite;
}
#q ._subtext,
#end ._subtext {
  font-size: 2.5vw;
  font-weight: 500;
  margin: 4vw auto;
  line-height: 100%;
}

#end {
  height: 100%;
  padding: 0;
  justify-content: start;
  vertical-align: center;
  display: none;
}

p {
  padding: 2%;
  margin: 1%;
  letter-spacing: 0.1em;
  font-size: 150%;
}

#start {
  background-color: #a3a3c2;
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  font-family: verdana;
  border-radius: 20px;
  width: 20%;
  /*margin-left: 9% ;*/
  margin-right: 3%;
  box-shadow: 2px 2px 2px 2px #52527a;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
  /*width: 100%;
  height: 100vh;*/
  overflow: hidden;
  pointer-events: none;
}

#nextq {
  background-color: #a3a3c2;
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 20px;
  width: 20%;
  margin-left: 9%;
  margin-right: 9%;
  box-shadow: 2px 2px 2px 2px #52527a;
}

#score {
  width: 10%;
  height: 20%;
  border-radius: 20px;
  padding: 2%;
  margin: 2%;
  float: left;
  text-align: center;
  font-size: 100%;
}

#watch {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 10%;
  padding: 2%;
  margin: 2%;
  text-align: center;
  font-size: 3em;
  font-family: bilo, sans-serif;
}

._color {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  mix-blend-mode: color;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
._color div {
  width: auto;
  flex-basis: 49.5%;
  height: 100vh;
}
._color ._left {
  border-right: 5px solid white;
}
._color ._right {
  border-left: 5px solid white;
}
._color .wrong {
  background: red;
}
._color .right {
  background: #0ec44d;
}

#choice-box {
  display: flex;
  flex-direction: row;
  font-family: bilo, sans-serif;
  border-radius: 20px;
}
#choice-box ._choice {
  width: 50%;
  font-size: 3vw;
  text-align: center;
}

#myProgress {
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 30px;
  background-color: #ffffff;
}

#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #69e5d7;
}

#footer {
  clear: both;
  text-align: center;
  padding: 2%;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes title {
  0% {
    color: #69e5d7;
  }
  50% {
    color: #34a3f4;
  }
  100% {
    color: #69e5d7;
  }
}

/*# sourceMappingURL=style.css.map */